#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
}

/*その他と主な共通部分は省略*/

a.btn-solid {
  color: #fff;
  border-top: 4px solid #48ecc4;
  border-right: 4px solid #0a5f4a;
  border-bottom: 4px solid #0f745b;
  border-left: 4px solid #8cf9de;
  border-radius: 0;
  background: #11a37f;
}

a.btn-solid:hover {
  color: #fff;
  border-top: 4px solid #0f745b;
  border-right: 4px solid #8cf9de;
  border-bottom: 4px solid #48ecc4;
  border-left: 4px solid #0a5f4a;
}